*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
	font-weight: 400;
	font-size:15px;
	line-height:2em;
    background-color: #c8b49b;
}

/* header */

header{
    background-color:#170421;
    width: 100%;
}
header > .col-md-4{
    width: 200px;
}
header > .col-md-8{
    font-size: 17px;
    letter-spacing: 4px;
    margin-top: 44px;
    padding-left: 100px;
}
nav li a {
    line-height:0em;
    color: #ea1746;
    padding: 10px;
    text-decoration:none;
}
nav ul {
    list-style: none;
}

/* article */
main{
    margin: 20px;
}

main h1{
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

/* form */
section .col-8{
    border-style: dashed;
}

section .col-4 img{
    width: 400px;
}

/* Tables Pacotes */
.pacotes{
    margin: 15px 20px;
}
table{
    width: 100%;
}
thead{
    background-color:rgba(127, 255, 232, 0.21);
}
tbody tr:nth-child(odd){
    background-color: cadetblue;
}

/* footer */
.ultimaImage{
    background-image: url(/Img/wallpaperflare.com_wallpaper-10.jpg);
    width: 100%;
    height: 1000px;
    text-align: center;
}
div h2{
    font-size: 50px;
    padding: 70px;
}

footer{
    width: 100%;
    text-align: center;
    background-color:#1e032c;
    color: #ffffff;
    padding: 10px;
}

