*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
	font-weight: 400;
	font-size:15px;
	line-height:2em;
    background-color: #c8b49b;
}

/* header */
header{
    background-color:#170421;
}
header .navbar-toggler{
    background-color: #690928;
}
header .navbar-toggler:hover{
    background-color: #e91444;
    transition:ease-in-out, 0.9s;
}
header .nav-link{
    color: #690928;
    transition:ease-in-out, 0.9s;
    font-size: 20px;
    letter-spacing: 4px;
}
header .nav-link:hover{
    color: #e91444;
}
/* article */
main{
    margin: 20px;
}

main h1{
    font-size: 50px;
    text-align: center;
    margin: 30px;
}
.portal{
    border-radius: 40px;
}

/* form */
section .card{
    border-style: dashed;
    border-width: 4px;
    border-color: #690928;
    background-color: antiquewhite;
    width: 100%;
    border-radius: 40px;
}

.card .card-title{
    background-image:url(/Img/imgbin_postage-stamps-mail-cancellation-png.png);
    background-size:contain;
    background-size: 300px;
    background-position-x: center;
    background-position-y: 45px;
    background-repeat: no-repeat;
    width: 100%;
}

section .col-lg-auto img{
    width: 400px;
    border-radius: 40px;
    border-width: 4px;
    box-sizing:border-box;
    border-color:#690928;
    border-style:double;
    margin-top: 10px;
}

/* Tables Pacotes */

main section .table{
    margin: 15px 0px;
}
thead{
    background-color:rgba(127, 255, 232, 0.21);
}
tbody tr:nth-child(odd){
    background-color: cadetblue;
}



/* footer */
.ultimaImage{
    background-image: url(/Img/wallpaperflare.com_wallpaper-10.jpg);
    background-size: cover;
    width: 100%;
    height: 1000px;
    text-align: center;
}
div h2{
    font-size: 50px;
    padding: 70px;
}

footer{
    width: 100%;
    text-align: center;
    background-color:#1e032c;
    color: #ffffff;
    padding: 10px;
}

